<!DOCTYPE html>
<html>
<head>
  <title>BurgerToMe</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>

  <header>
    <div class="account_links">
      <% if current_user %>
        <p class="logged_in">
          Logged in as <%= current_user.display_name %>&nbsp;&nbsp;&nbsp;
          <%= link_to "Log out", logout_path %>
        </p>
      <% else %>
        <%= link_to "Log in with TaskRabbit", "#{Taskrabbit.base_uri}api/authorize?client_id=#{ENV['TR_API_KEY']}" %>
      <% end %>
    </div>
  </header>

  <%= render 'layouts/flash_messages' %>

  <%= yield %>

</body>
</html>
