<!DOCTYPE html>
<html>
<head>
  <title>On-Demand In-N-Out Delivery - $10 to anywhere in SF!</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "//fonts.googleapis.com/css?family=Norican" %>
  <%= stylesheet_link_tag "//fonts.googleapis.com/css?family=Lato:900" %>
  <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" %>
  <%= javascript_include_tag "//maps.googleapis.com/maps/api/js?v=3.9&libraries=places,geometry&sensor=false" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_tag do %>
    BurgerToMe.GMAPS_STATIC_API_KEY = <%= raw ENV['GMAPS_STATIC_API_KEY'].to_json %>;
  <% end %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= params[:controller] %> <%= params[:action] %>">

  <header>
    <h1 class="logo"><span class="name">In-N-Out</span> Delivery</h1>
    <h2 class="slogan">$10 to anywhere in SF!</h2>

    <div id="account-links">
      <% if current_user %>
        <p class="logged-in">
          Logged in as <%= current_user.display_name %>&nbsp;&nbsp;&nbsp;
          <%= link_to "Log out", logout_path %>
        </p>
      <% else %>
        <%= link_to "Log in with TaskRabbit", "#{Taskrabbit.base_uri}/api/authorize?client_id=#{Taskrabbit.api_key}" %>
      <% end %>
    </div>
  </header>

  <section id="main">
    <%= render 'layouts/flash_messages' %>
    <%= yield %>
  </section>

  <footer>
    <div id="powered-by">
      <span>Powered By:</span>
      <%= image_tag 'tr_logo.png', :alt => 'TaskRabbit', :title => 'TaskRabbit' %>
    </div>
  </footer>

</body>
</html>
